.footer{

    footer{
        background-color: $dark;
        border-top: $border-width solid $blue;
    }

    span{
        color: $light;
        font-family: $text-font;
    }

    svg{
        fill: $blue;
    }

}