$dark: #222831;
$grey: #393E46;
$light: #EEEEEE;
$blue: #00ADB5;
$blurry-dark: rgba(34,40,49,0.35);
$border-width: 3px;
$nav-item-margin: 4px;
$navbar-padding: 3vh;

$hover-box-shadow: 3px 3px $light;
$hover-border-radius: 10px;

$text-font: 'Open Sans', sans-serif;
$header-font: 'Raleway', sans-serif;

$carousel-text-padding-right: 10px;

$top-seller-padding: 15px 20px 10px;
$top-seller-border-image: linear-gradient(to top, transparent 25%, $blue 50%) 1 stretch;

$product-container-padding:20px;
